@model evangelist_site.ViewModels.ResourceGroupsViewModels.EditViewModel

@{
    Layout = "_LayoutAdmin";
}

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit</h2>
                <h4>Resource Group</h4>
                <hr />

                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#resourcegroup" aria-controls="resourcegroup" role="tab" data-toggle="tab">Resource Group</a></li>
                        <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Associated Resources</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="resourcegroup">


                            <form asp-action="Edit">
                                <div class="form-horizontal">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="ResourceGroup.Id" />
                                    <div class="form-group">
                                        <label asp-for="ResourceGroup.Title" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="ResourceGroup.Title" class="form-control" />
                                            <span asp-validation-for="ResourceGroup.Title" class="text-danger" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ResourceGroup.Description" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="ResourceGroup.Description" class="form-control" />
                                            <span asp-validation-for="ResourceGroup.Description" class="text-danger" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ResourceGroup.CssClass" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="ResourceGroup.CssClass" class="form-control" />
                                            <span asp-validation-for="ResourceGroup.CssClass" class="text-danger" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ResourceGroup.ImageUrl" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="ResourceGroup.ImageUrl" class="form-control" />
                                            <span asp-validation-for="ResourceGroup.ImageUrl" class="text-danger" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ResourceGroup.Url" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="ResourceGroup.Url" class="form-control" />
                                            <span asp-validation-for="ResourceGroup.Url" class="text-danger" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox">
                                                <input asp-for="ResourceGroup.VisibleOnSite" />
                                                <label asp-for="ResourceGroup.VisibleOnSite"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="resources">
                            @if (Model.Resources.Count() <= 0)
                            {
                                <p>There are no Resources in the Resource Group. <a asp-action="Create" asp-controller="Resources">Create one</a>.</p>
                            }
                            else
                            {
                                @foreach (var item in Model.Resources)
                                {
                                    <i class="fa @item.FAIconClass" aria-hidden="true"></i>
                                    <a asp-action="Edit" asp-controller="Resources" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                                    <br />
                                }
                            }

                        </div>
                    </div>
                </div>

                <hr />

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>

            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
