<div class="modal fade" id="famodal" tabindex="-1" role="dialog" aria-labelledby="Font Awesome modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Font Awesome Classes</h4>
            </div>
            <div class="modal-body">
                <small>You can use any Font Awesome class but these are the most relevant ones</small>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Icon</th>
                            <th>CSS Class</th>
                            <th>Usage</th>
                        </tr>
                    </thead>
                    <tr>
                        <td><i class="fa fa-keyboard-o" aria-hidden="true"></i></td>
                        <td>fa-keyboard-o</td>
                        <td>Hackathons, labs, tutorials</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-globe" aria-hidden="true"></i></td>
                        <td>fa-globe</td>
                        <td>Websites and apps</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-file-excel-o" aria-hidden="true"></i></td>
                        <td>fa-file-excel-o</td>
                        <td>Excel add-in</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-wordpress" aria-hidden="true"></i></td>
                        <td>fa-wordpress</td>
                        <td>Article or blog</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-github" aria-hidden="true"></i></td>
                        <td>fa-github</td>
                        <td>GitHub repository</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-video-camera" aria-hidden="true"></i></td>
                        <td>fa-video-camera</td>
                        <td>Video or live broadcast</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-desktop" aria-hidden="true"></i></td>
                        <td>fa-desktop</td>
                        <td>Slides</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-flask" aria-hidden="true"></i></td>
                        <td>fa-flask</td>
                        <td>Lab or tutorial</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-link" aria-hidden="true"></i></td>
                        <td>fa-link</td>
                        <td>A collection of links</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>